.App {
  text-align: center;
  }

  /* Three columns side by side */
  
  .container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

  
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
  .column {
      width: 80%;
      display: block;
  }
}
    /* Responsive design */
    @media screen and (min-width: 40em) {
      .card {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
    }
   
.field{
  padding: 5%;
  width: 1000px;
  background-color: #f1df94;
  float: center;
}
label.form-label{
  color: #4A217B;
  font-size: 20pt;
}
h1{
  color: #4A217B;
  padding: 1%;
  text-align: center;
}
  .link-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-decoration: underline;
      display: inline;
      margin: 0;
      padding: 0;
    }
  /*------signup-------*/
  #signup-label{
    margin: .5%;
  }
  input.form-control, select {
    width: 50%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

  }
  /*-------------*/
  
  #TnC{
      margin: 5px;
      color: #4A217B;
  }
  .registerButton{
      border: none;
      margin: .5cm;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: rgb(255, 255, 255);
      background-color: rgb(95, 95, 95);
      text-align: center;
      cursor: pointer;
      width: 50%;
      border-radius: 20cm;
  }
  .registerButton:hover {
    background-color: #FCCB06;
    }

  p{
    text-align: center;
    margin: .01%;
    font-size: 15pt;
    color: #4A217B;
    
  }
  .post-label{
    margin: 5%;
  }
  .col-12{
    padding: 10px;
  }

  .check-box{
    padding: 5%;
    margin-left: 0%;
  }

  input.signup-check{
    display: inline;
    padding: 2%;
    width: 28px;
    flex: 0 0 200px;
    margin-left: 12px;
    height: 50px;
    vertical-align: middle;   
}